@import url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
@import url("../assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");


//text colors
$primaryText: #E6E5EA;
$secondaryText: #817D92;

//background
$primaryBg: #18171F;
$secondaryBg: #24232C;

//font family
$font: 'JetBrains Mono', sans-serif;

//headings
$heading-xs: 24px;
$heading-sm: 31px;
$heading-md: 32px;
$heading-lg: 43px;

//texts
$text-sm: 18px;
$text-md: 23px;

//spacing
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;

//button colors

//status colors
$veryWeakColor: #F64A4A;
$weakColor: #FB7C58;
$mediumColor: #F8CD65;
$strongColor: #A4FFAF;


